/* Background */
body {
	background-color: #ffffff;
	margin : 1ex 4ex 1ex 4ex;
}

/* Font selection */
ul,ol,dt,dl,th,td,h1,h2,h3,h4,p { font-family: Verdana, Arial, Helvetica, sans-serif }

/* Font styles */
p {  font-size: 10pt; }

table {
	font-size : 10pt;
}


td { font-size: 10pt; padding: 4px }
th {
	font-size: 10pt;
	font-weight: bold;
	padding: 4px;
	background-color : #FFEFD5;
}

h1 {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 16pt;
}
h2 { font-size: 14pt; font-weight: bold}
h3 { font-size: 12pt; font-weight: bold}
h4 { font-size: 10pt; font-weight: bold; font-style: italic}


/* Lists */
ul,ol,dl {
	font-size: 10pt;
}
dt {
	margin-left: 2ex;
}
.toc dt{
	margin-left: 0ex;
}
dd {
	margin-left: 6ex;
}

/* Classes */
.mediaobject { border: thin; border-style: solid; margin-right: 100% }
.programlisting, .literallayout, .screen {
  font-size: 10pt;
  width: auto; 
  margin-top: 1em;
  margin-bottom: 3ex;
}
.programlisting { 
  padding: 1; 
  font-family: Courier; 
  border-style: solid; 
  border-width: 1; 
  white-space: pre; 
  background-color: #fffff7 
}
.literallayout {   
  padding: 1; 
  border-style: solid; 
  border-width: 1; 
  background-color: #fffff7 
}
.screen {
	padding: 2;
	background-color: Teal;
	color: White;
}
.sect1 {
	margin-top : 3em;
}
.sect2 {
	margin-top : 3em;
}
.sect3 {
	margin-top : 2em;
}
.sect4 {
	margin-top : 2em;
}
.term {
	font-weight : bold;
}

.note, .tip,.important, .warning, .caution {
	border : 1pt solid Black;
	padding : 6pt 6pt 6pt 6pt;
	margin-top : 1em;
	margin-bottom : 1em;
}

/*
  In non-graphical style, <h3> elements are generated for admonition headers.
  These are way too big, so we scale them down:
*/
.note h3, .tip h3,.important h3, .warning h3, .caution h3
 { font-size: 10pt; font-weight: bold}
.note p, .tip p,.important p, .warning p, .caution p
 {
	font-size: 8pt;
}

.note, .tip {
	background-color : #F0FFFF;
}
.important, .warning, .caution {
	background-color : #FFE4E1;
}

.toc {
margin-bottom: 3em;
}
