/* Background */
body {
	background-color: #ffffff;
	margin : 1ex 4ex 1ex 4ex;
}

/* Font selection */
ul,ol,dt,dl,th,td,h1,h2,h3,h4,h5,h6,p { font-family: Verdana, Arial, Helvetica, sans-serif }

/* Font styles */
p {  font-size: 10pt; }

table {
	font-size : 10pt;
}


td { font-size: 10pt; padding: 4px }
th {
	font-size: 10pt;
	font-weight: bold;
	padding: 4px;
	background-color : #FFEFD5;
}


/* Sections and headers:
   h1 corresponds to chapter level, h2 to sect1, h3 to sect2, etc. */


.set
  { margin-top: 3em }

.book
  { margin-top: 3em }

.chapter, .article, .preface, .appendix, .index, .setindex
  { margin-top: 3em }


.sect1,
.section,
h2.bridgehead
  { margin-top: 3em }

.sect2,
.section .section,
h3.bridgehead
  { margin-top: 3em }

.sect3,
.section .section .section,
h4.bridgehead
  { margin-top: 2em }

.sect4,
.section .section .section .section,
h5.bridgehead
  { margin-top: 2em }

.sect5,
.section .section .section .section .section,
h6.bridgehead
  { margin-top: 2em }


.book .titlepage h1 { font-size: 24pt; font-weight: bold; margin-top: 24pt }
.article .titlepage h1, .chapter .titlepage h1 { font-size: 20pt; font-weight: bold; margin-top: 20pt }
h1 { font-size: 16pt; font-weight: bold; margin-top: 16pt }
h2 { font-size: 14pt; font-weight: bold }
h3 { font-size: 12pt; font-weight: bold }
h4 { font-size: 10pt; font-weight: bold; font-style: italic }
h5 { font-size:  9pt; font-weight: bold }
h6 { font-size:  8pt; font-weight: bold }


/* Lists */
ul,ol,dl {
	font-size: 10pt;
}
dt {
	margin-left: 2ex;
}
.toc dt{
	margin-left: 0ex;
}
dd {
	margin-left: 6ex;
}

/* Classes */
.type { font-weight: bold }

.legalnotice  {
	border : 1pt solid Black;
	/* default admon border */
	padding : 6pt 6pt 6pt 6pt;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background-color : #FFFFF7;
}

.legalnotice p  {
	font-size: 8pt;
}

.legalnotice .legalnotice-title p  {
	font-size: 10pt;
}


.programlisting, .literallayout, .screen {
  font-size: 10pt;
  width: auto;
  margin-top: 1em;
  margin-bottom: 3ex;
}
.programlisting {
  padding: 1;
  font-family: Courier;
  border-style: solid;
  border-width: 1;
  white-space: pre;
  background-color: #fffff7
}
.literallayout {
  padding: 1;
  border-style: solid;
  border-width: 1;
  background-color: #fffff7
}
.screen {
	padding: 2;
	background-color: #BEEAE0;  /* #81E0FF; #11C4FF; */
/*	color: White;*/
}

.term {
	font-style : italic;
}

.term .author {
	font-weight: normal;
	font-style: italic;
}


/* Don't let authors grow bigger than their section headers ;-) */
.sect1 .titlepage .author h3,
.section .titlepage .author h3
  { font-size: 11pt; }
.sect2 .titlepage .author h3,
.section .section .titlepage .author h3
  { font-size: 10pt; }
.sect3 .titlepage .author h3,
.section .section .section .titlepage .author h3
  { font-size: 9pt; }
.sect4 .titlepage .author h3,
.section .section .section .section .titlepage .author h3
  { font-size: 8pt; }
.sect5 .titlepage .author h3,
.section .section .section .section .section .titlepage .author h3
  { font-size: 7pt; }


.note, .tip, .important, .warning, .caution {
	border : 1pt solid Black;    /* default admon border */
	padding : 6pt 6pt 6pt 6pt;
	margin-left : 4ex;
	margin-top : 1em;
	margin-bottom : 1em;
}

/*
  In non-graphical style, <h3> elements are generated for admonition headers.
  These are way too big, so we scale them down:
*/
.note h3, .tip h3,.important h3, .warning h3, .caution h3
 { font-size: 10pt; font-weight: bold}

.important h3, .warning h3, .caution h3
{ color:red }

.note h3, .tip h3
{ color: blue }

.note p, .tip p,.important p, .warning p, .caution p
{ font-size: 8pt; }

.note, .tip {
	/*background-color : #F0FFFF;	*/
	background-color : #F8F8F8;
	border: 1pt solid blue;
}
.important, .warning, .caution {
/*  background-color : #F0FFFF; */
/*  background-color : #F0F0F0; */
	background-color : #F8F8F8;
	border : 1pt solid red;
}

.toc {
margin-bottom: 3em;
}

.userinput, .command {
  font-family: monospace;
}
