* text=auto
*.xml           text
*.xsl           text
*.docbook       text
*.css           text
*.bat           text    eol=crlf
*.sh            text

*.bmp           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
