* text=auto
*.xml           text
*.xsl           text
*.docbook       text
*.css           text
*.bat           text    eol=crlf
*.sh            text    eol=lf

*.bmp           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary

/gradlew        text    eol=lf
