* text=auto
*.xml           text
*.xsl           text
*.docbook       text
*.adoc          text
*.css           text    eol=lf
*.bat           text    eol=crlf
*.sh            text    eol=lf
*.yml           text

*.bmp           binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.ttf           binary

/gradlew        text    eol=lf
