@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<table id="jqg"></table>
<div id="jqg-pager"></div>

<script type="text/javascript">
    $(document).ready(function () {

        var dbGrid = $("#jqg").jqGrid({
            url: '@Url.Action("GetData")', // url для получения данных
            datatype: "json", // формат получения данных 
            mtype: "GET",     // тип http запроса
            // описание модели
            colModel: [
                {
                    label: 'Id',          // подпись
                    name: 'CUSTOMER_ID',  // имя поля
                    key: true,            // признак ключевого поля
                    hidden: true          // скрыт 
                },
                {
                    label: 'Name',
                    name: 'NAME',
                    width: 250,           // ширина
                    sortable: true,       // разрешена сортировка
                    editable: true,       // разрешено редактирование
                    edittype: "text",     // тип поля в редакторе
                    search: true,         // разрешён поиск
                    searchoptions: {
                        sopt: ['eq', 'bw', 'cn'] // разрешённые операторы поиска
                    },
                    editoptions: { size: 30, maxlength: 60 }, // размер и максимальная длина для поля ввода
                    editrules: { required: true }             // говорит о том что поле обязательное
                },
                {
                    label: 'Address',
                    name: 'ADDRESS',
                    width: 300,
                    sortable: false,    // запрещаем сортировку
                    editable: true,     // редактируемое
                    search: false,      // запрещаем поиск
                    edittype: "textarea",
                    editoptions: { maxlength: 250, cols: 30, rows: 4 }
                },
                {
                    label: 'Zip Code',
                    name: 'ZIPCODE',
                    width: 30,
                    sortable: false,
                    editable: true,
                    search: false,
                    edittype: "text",
                    editoptions: { size: 30, maxlength: 10 },
                },
                {
                    label: 'Phone',
                    name: 'PHONE',
                    width: 80,
                    sortable: false,
                    editable: true,
                    search: false,
                    edittype: "text",
                    editoptions: { size: 30, maxlength: 14 },
                }
            ],
            rowNum: 500, // число отображаемых строк
            loadonce: false, // загрузка только один раз
            sortname: 'NAME', // сортировка по умолчанию по столбцу NAME
            sortorder: "asc", // порядок сортировки
            width: window.innerWidth - 80, // ширина грида
            height: 500,      // высота грида
            viewrecords: true, // отображать количество записей
            caption: "Customers", // подпись к гриду
            pager: 'jqg-pager'  // элемент для отображения навигации
        });

        dbGrid.jqGrid('navGrid', '#jqg-pager', {
            search: true,  // поиск
            add: true,     // добавление
            edit: true,    // редактирование
            del: true,     // удаление
            view: true,    // просмотр записи
            refresh: true, // обновление
            // подписи кнопок
            searchtext: "Поиск",
            addtext: "Добавить",
            edittext: "Изменить",
            deltext: "Удалить",
            viewtext: "Смотреть",
            viewtitle: "Выбранная запись",
            refreshtext: "Обновить"
        },
        update("edit"), // обновление
        update("add"), // добавление    
        update("del") // удаление
        );

        // функция возвращающая настроки редактора
        function update(act) {
            return {
                closeAfterAdd: true, // закрыть после добавления
                closeAfterEdit: true, // закрыть после редактирования
                width: 400,           // ширина редактора
                reloadAfterSubmit: true, // обновление
                drag: true,              // перетаскиваемый
                // обработчик отправки формы редактирования/удаления/добавления
                onclickSubmit: function (params, postdata) {
                    // получаем идентификатор строки
                    var selectedRow = dbGrid.getGridParam("selrow");
                    // устанавливаем url в зависимости от операции
                    switch (act) {
                        case "add":
                            params.url = '@Url.Action("Create")';
                            break;

                        case "edit":
                            params.url = '@Url.Action("Edit")';
                            postdata.CUSTOMER_ID = selectedRow;
                            break;

                        case "del":
                            params.url = '@Url.Action("Delete")';
                            postdata.CUSTOMER_ID = selectedRow;
                            break;
                    }
                },
                // обработчик результатов обработки форм (операций)
                afterSubmit: function (response, postdata) {
                    var responseData = response.responseJSON;
                    // проверяем результат на наличие сообщений об ошибках
                    if (responseData.hasOwnProperty("error")) {
                        if (responseData.error.length) {
                            return [false, responseData.error];
                        }
                    }
                    else {
                        // обновление грида
                        $(this).jqGrid(
                            'setGridParam',
                            {
                                datatype: 'json'
                            }
                        ).trigger('reloadGrid');
                    }
                    return [true, "", 0];
                }
            };
        };

    });
</script> 
